<div class="login-form">
  <h1> Sign into your account </h1>
  <%= bootstrap_form_for(:session, :url => {:controller => "sessions", :action => "create"} ) do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <div class="create_account" >
  <%= f.submit "Log in" %>
  <% end %>
  <p> Don't have an account? Create one <%= link_to "here", new_user_path, method: :get %>! </p>
  </div>
</div>
