<div class="admin-event">
  <h3>Events</h3>
  <div class="col-md-0 pull-right top-button">
    <%= link_to "Create Event", new_admin_event_path, class: "btn btn-default" %>
  </div>
</div>

<table class="table table-hover admin-event-table">
  <thead>
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
    <th style="width: 17%">Venue</th>
    <th style="width: 10%">Date</th>
    <th style="width: 8%">Time</th>
    <th>Category</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= image_tag event.image.img.url(:event_manage_list), class: "manage-item-img" %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.venue.name %> <br> <%=event.venue.location %></td>
        <td><%= event.formatted_date %></td>
        <td><%= event.formatted_time %></td>
        <td><%= event.category.name %></td>
        <td><%= event.approved ? "approved" : "pending"%></td>
        <td><%= link_to "Edit", edit_admin_event_path(event), class: "btn btn-default" %></td>
        <td><%= link_to "Delete", admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
