Hubstub

Hi <%= @order.buyer.full_name %>

  Your order has been confirmed! Please see below for details:

<% @order.items.each do |item| %>
<%= item.event.day_of_week %>, <%= item.event.month %>, <%= item.event.day_of_month %>

      Title: <%=  item.event.title %>
      Description: <%= item.event.description %>
      Venue: <%= item.event.venue.name %>
      Section: <%= item.section %>
      Row: <%= item.row %>
      Seat: <%= item.seat %>
      Delivery Method: <%= item.delivery_method %>
      Item price: <%= item.dollar_amount %>
      Seller: <%= item.seller %>
    <% end %>
Total: <%="#{number_to_currency((@order.items.map(&:unit_price).sum)/100.00)}" %></h3> </tr>
