<h1>Hubstub</h1>

<p>Hi <%= @order.buyer.full_name %></p>

<p>
  Your order has been confirmed! Please see below for details:
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Section</th>
      <th>Row</th>
      <th>Seat</th>
      <th>Delivery</th>
    </tr>
  </thead>
  <tbody>
    <% @order.items.each do |item| %>
    <tr>
      <td></td>
      <td>
          <p><%= item.event.month %></p>
          <p><%= item.event.day_of_month %></p>
          <p><%= item.event.day_of_week %></p>
      </td>
      <td><%= item.event.title %></td>
      <td><%= item.event.description %></td>
      <td><%= item.event.venue.name %></td>
      <td><%= item.section %></td>
      <td><%= item.row %></td>
      <td><%= item.seat %></td>
      <td><%= item.delivery_method %></td>
      <td><%= item.dollar_amount %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
      <tr> <h3>Total: <%="#{number_to_currency((@order.items.map(&:unit_price).sum)/100.00)}" %></h3> </tr>
  </tfoot>
</table>
