<h2 class="admin-title">Edit Ticket for <%= @item.event.title %></h2>
<div id="seller-edit-item">
  <%= bootstrap_form_for [@user, @item], url: seller_item_path(@user.slug, @item.id)  do |f| %>
    <%= f.text_field :section %>
    <%= f.text_field :row %>
    <%= f.text_field :seat %>
    <%= f.number_field :unit_price, label: "Price (in cents)"%>
    <%= f.select :delivery_method, [["Electronic", "electronic"], ["Physical", "physical"]], prompt: "Select the delivery method", control_col: "col-sm-6" %>
    <div class="item-form-ticket">
      <p class="curr-ticket" id="curr-ticket-label"><strong>Current Ticket: </strong></p>
      <p class="curr-ticket" id="curr-ticket-file"><%= link_to @item.ticket_file_name || "No ticket loaded.", @item.ticket.url(:original, false) %></p>
      <%= f.file_field :ticket, label: "Change Ticket" %>
    </div>
    <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
</div>
