<table>
  <tr colspan="4">
    <th>Summary by Status</th>
  </tr>
  <tr>
    <td>Ordered</td>
    <td>Paid</td>
    <td>Completed</td>
    <td>Cancelled</td>
    <td>Total</td>
  </tr>
  <tr>
    <td><%= Order.all.ordered.count %></td>
    <td><%= Order.all.paid.count %></td>
    <td><%= Order.all.completed.count %></td>
    <td><%= Order.all.cancelled.count %>
    <td><%= Order.all.count %></td>
  </tr>
</table>
