<table class="table table-striped orders-table">
  <tr>
    <th>Order ID</th>
    <th>Order Date</th>
    <th>Order Time</th>
    <th>Status</th>
    <th>Mark Paid</th>
    <th>Mark Complete</th>
    <th>Cancel Order</th>
  </tr>
  <% @orders.each do |order| %>
    <%= content_tag :tr, id: order.id do -%>
      <td><%= link_to order.id, order_path(order.id) %></td>
      <td><%= order.formatted_date %></td>
      <td><%= order.formatted_hour %></td>
      <td><span class="label label-primary"><%= order.status %></span></td>
      <% if order.payable? %>
        <td><div class="btn-group"><%= link_to "Mark Paid", admin_update_order_path(new_status: "paid", id: order.id), method: :put %></div></td>
      <% else %>
        <td></td>
      <% end %>
      <% if order.paid? %>
        <td><div class="btn-group"><%= link_to "Mark Complete", admin_update_order_path(new_status: "completed", id: order.id), method: :put %></div></td>
      <% else %>
        <td></td>
      <% end %>
      <% if order.cancelable? %>
        <td><div class="btn btn-danger btn-xs"><%= link_to "Cancel Order", admin_update_order_path(new_status: "cancelled", id: order.id), method: :put, :data => {:confirm => 'Are you sure you want to cancel this order?'} %></div></td>
      <% else %>
        <td></td>
      <% end %>
    <% end -%>
  <% end %>
</table>
