<h2 class="admin-title">Admin Dashboard</h2>
<div class="row">
  <div class="col-lg-3">
    <%= render 'admin_menu' %>
  </div>
  <div class="col-lg-9 well">
    <div class="dash-section clearfix">
      <h3 class="admin-panel-title">Order Summary</h3>
      <div class="col-md-6 summary-stat-box">
        <%= render 'daily_summary' %>
      </div>
      <div class="col-md-6 summary-stat-box">
        <%= render 'orders_placed' %>
      </div>
    </div>
    <div class="dash-section clearfix">
      <h3 class="admin-panel-title">Recent Orders</h3>
      <%= render 'order_filters' %>
    </div>
    <div class="col-md-12">
      <%= render 'recent_order_table' %>
    </div>
  </div>
</div>
