<div class="container">
  <div class="row login-bar">
    <div class="col-lg-6 login-bar-cart">
    </div>
    <div class="col-lg-6 login-bar-login">
      <p>
      <% if current_user && current_user.admin? %>
        <span class="login-bar-login-links"><%= link_to "Logout", logout_path, method: :delete %></span>
      <% elsif current_user %>
        <span class="login-bar-cart-link"><%= link_to "Cart(#{@cart.count})",cart_path %></span> |
        <span class="login-bar-login-links"><%= link_to "Logout", logout_path, method: :delete %></span>
      <% else %>
        <span class="login-bar-cart-link"><%= link_to "Cart(#{@cart.count})",cart_path %></span> |
        <span class="login-bar-login-links"><%= link_to "Sign up", new_user_path, method: :get %> or <%= link_to "Login", login_path %></span>
      <% end %>
      </p>
    </div>
  </div>
  <%= nav_bar static: :top, responsive: true do %>
    <% if current_user && current_user.admin? %>
      <%= menu_group do %>
        <%= menu_item "Dashboard", admin_path %>
        <%= drop_down "Tickets" do %>
          <%= menu_item "All Tickets", tickets_path %>
          <%= menu_item "Sports", tickets_path(category: "Sports") %>
          <%= menu_item "Music", tickets_path(category: "Music") %>
          <%= menu_item "Theater", tickets_path(category: "Theater") %>
          <%=  %>
        <% end %>
      <% end %>
      <%= menu_group do %>
        <%= link_to image_tag('white-ticket-48.png', class: "nav-logo"), root_path %>
      <% end %>
      <%= menu_group do %>
        <%= drop_down "Events" do %>
          <%= menu_item "Manage Events", admin_events_path %>
          <%= menu_item "Manage Venues", "#" %>
          <%= menu_item "Manage Categories", admin_categories_path %>
          <%=  %>
        <% end %>
        <%= menu_item "Users", admin_users_path %>
      <% end %>
    <% else %>
      <%= menu_group do %>
        <%= menu_item "Adventure", random_event_path %>
      <% end %>
      <%= menu_group do %>
        <%= drop_down "Buy" do %>
          <%= menu_item "All Tickets", tickets_path %>
          <%= menu_item "Sports", tickets_path(category: "Sports") %>
          <%= menu_item "Music", tickets_path(category: "Music") %>
          <%= menu_item "Theater", tickets_path(category: "Theater") %>
          <%=  %>
        <% end %>
      <% end %>

      <%= menu_group do %>
        <%= link_to image_tag('white-ticket-48.png', class: "nav-logo"), root_path %>
      <% end %>
      <%= menu_group do %>
        <% if current_user && !current_user.admin? %>
          <%= menu_item "Sell", new_ticket_path %>
        <% else %>
          <%= menu_item "Sell", login_path(forward_to: new_ticket_path) %>
        <% end %>
        <%= drop_down "My Hubstub" do %>
          <%= menu_text "Buying" %>
          <% if current_user && !current_user.admin? %>
            <%= menu_item "Past Orders", seller_orders_path(current_user.slug) %>
          <% else %>
            <%= menu_item "Past Orders", login_path %>
          <% end %>
          <%= drop_down_divider %>
          <%= menu_text "Selling" %>
          <% if current_user && !current_user.admin? %>
            <%= menu_item "Store", seller_store_path(current_user.slug) %>
          <% else %>
            <%= menu_item "Store", login_path(forward_to: root_url) %>
          <% end %>
          <% if current_user && !current_user.admin? %>
            <%= menu_item "List a Ticket", new_ticket_path %>
          <% else %>
            <%= menu_item "List a Ticket", login_path(forward_to: new_ticket_path) %>
          <% end %>
          <% if current_user && !current_user.admin? %>
            <%= menu_item "My Listings", seller_dashboard_path(current_user.slug) %>
          <% else %>
            <%= menu_item "My Listings", login_path(forward_to: root_url) %>
          <% end %>
          <% unless current_user.nil? || current_user.admin? %>
            <%= drop_down_divider %>
            <%= menu_text "User Account" %>
            <%= menu_item "Manage Account", seller_dashboard_path(current_user.slug)  %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
