<%= nav_bar fixed: :top, brand: "Pizza pizza", responsive: true do %>
  <%= menu_group do %>
    <%= menu_item "Home", root_path %>
    <%= menu_item "Menu", menu_path %>
    <% if current_user && current_user.admin? %>
      <%= menu_item "Admin", "#" %>
    <% end %>
  <% end %>
  <div class="menu_right">
    <%= menu_group pull: :right  do %>
      <%= menu_item "Cart", cart_path %>
      <% if current_user %>
        <%= menu_item "Logout", "#" %>
      <% else %>
        <%= menu_item "Login", login_path %>
      <% end %>
    <% end %>
  </div>
<% end %>
