<div class="row event-listing-page">
  <div class="col-lg-3 event-filter">
    <div class="event-filter-inner" >
      <div class="event-filter-title">
        <h3>Filters</h3>
        <div class="category-filter">
          <p><strong>Category</strong></p>
          <table>
            <tr><td><%= link_to "All", tickets_path %></td></tr>
            <tr>
              <td><%= link_to "Sports", tickets_path(category: "Sports") %></td>
            </tr>
            <tr>
              <td><%= link_to "Music", tickets_path(category: "Music") %></td>
            </tr>
            <tr>
              <td><%= link_to "Theater", tickets_path(category: "Theater") %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 event-listing">
    <div class="event-listing-inner">
      <%= render partial: "shared/event_table" %>
    </div>
  </div>
</div>
