<div class="row event-listing-page">
  <div class="col-lg-3 event-filter">
    <div class="event-filter-inner" >
      <div class="event-filter-title">
        <h3>Filters</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-9 event-listing">
    <div class="event-listing-inner">
      <table>
        <tr class="event-header">
          <th></th>
          <th class="event-header-date">DATE</th>
          <th class="event-header-title">EVENT</th>
          <th class="event-header-locations">LOCATION/TIME</th>
        </tr>
        <% @events.each do |event| %>
          <tr class="event-row">
            <td>
              <div class="rotate event-category">
                <p><%= event.categories.first.name %></p>
              </div>
            </td>
            <td>
              <div class="event-date-group">
                <p class="event-month"><%= event.date.strftime("%b") %></p>
                <p class="event-date"><%= event.date.strftime("%d") %></p>
                <p class="event-day"><%= event.date.strftime("%a") %></p>
              </div>
            </td>
            <td class="event-info">
              <p class="event-name"><a href="#"><%= event.title %></a></p>
            </td>
            <td class="event-location">
              <p class="event-venue"><a href="#"><%= event.venue.name %></a></p>
              <p class="event-address"><a href="#"><%= event.venue.location %></a></p>
              <p class="event-time"><%= event.date.strftime("%m %M %p %Z") %></p>
            </td>
            <td class="event-tickets"><a href="#">
                <p><%= pluralize(event.items.count, 'Ticket') %></p>
                <p>Available</p>
            </a></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
