<div class="event-page col-lg-8 col-lg-offset-2">
  <div class="row event-page-header event-page-inner">
    <table>
      <tr>
        <td>
          <div class="event-date-group">
            <p class="event-month"><%= @event.date.strftime("%b") %></p>
            <p class="event-date"><%= @event.date.strftime("%d") %></p>
            <p class="event-day"><%= @event.date.strftime("%a") %></p>
          </div>
        </td>
        <td class="event-page-title">
          <h3><%= @event.title %> Tickets</h3>
          <span>
            <h4>
              <%= @event.date.strftime("%m %M %p %Z") %>
              at <%= link_to(@event.venue.name, venue_path(@event.venue.id)) %>
            </h4>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="row event-page-banner">
    <div class="event-page-banner-inner">
      <%= image_tag @event.image.img.url(:event_banner) %>
    </div>
  </div>
  <div class="row event-page-ticket-listing-title event-page-inner">
    <h3>Available Tickets</h3>
  </div>
  <div class="row event-page-ticket-filters event-page-inner">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="ticketMaxFilter" placeholder="Minimum">
          <div class="input-group-addon">.00</div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="ticketMinFilter" placeholder="Maximum">
          <div class="input-group-addon">.00</div>
        </div>
      </div>
      <div class="form-group">
        <select id="deliveryMethod" class="form-control">
          <option value="" selected disabled>Delivery Method?</option>
          <option value="*">All</option>
          <option value="physical">Physical</option>
          <option value="electronic">Electronic</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default">Filter</button>
    </form>
  </div>
  <div class="row event-page-ticket-listing event-page-inner">
    <table class="table table-hover event-tickets">
      <thead>
        <tr>
          <th>Seller</th>
          <th>Section</th>
          <th>Row</th>
          <th>Seat</th>
          <th>Delivery Method</th>
          <th colspan=2>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @event.items.each do |item| %>
          <tr>
            <td class="vert-align"><%= link_to(item.user.display_name, user_store_path(item.user.slug)) %></td>
            <td class="vert-align"><%= item.section %></td>
            <td class="vert-align"><%= item.row %></td>
            <td class="vert-align"><%= item.seat %></td>
            <td class="vert-align delivery-meth"><%= item.delivery_method %></td>
            <td class="vert-align"><%= item.dollar_amount %></td>
            <td class="vert-align"><%= button_to "Add to cart", "#", class: 'btn btn-default' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
