<div class="event-page col-lg-8 col-lg-offset-2">
  <div class="row event-page-header event-page-inner">
    <table>
      <tr>
        <td>
          <div class="event-date-group">
            <p class="event-month"><%= @event.month %></p>
            <p class="event-date"><%= @event.day_of_month %></p>
            <p class="event-day"><%= @event.day_of_week %></p>
          </div>
        </td>
        <td class="event-page-title">
          <h3><%= @event.title %> Tickets</h3>
          <span>
            <h4>
              <%= @event.formatted_time %>
              at <%= link_to(@event.venue_name, venue_path(@event.venue)) %>
            </h4>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="row event-page-banner">
    <div class="event-page-banner-inner">
      <%= image_tag @event.event_banner, class: "img-responsive" %>
    </div>
  </div>
  <div class="row event-page-ticket-listing-title event-page-inner">
    <h3>Available Tickets</h3>
  </div>
  <div class="row event-page-ticket-listing event-page-inner">
    <table class="table table-hover event-tickets">
      <% if @items.empty? %>
      <tr> <h3><em><%="Currently no tickets available for #{@event.title}."%> </em></h3> </tr>
        <tr> <%= link_to("Search available events", tickets_path, class: "btn btn-default") %> </tr>
      <% else %>
      <thead>
        <tr>
          <th>Seller</th>
          <th>Section</th>
          <th>Row</th>
          <th>Seat</th>
          <th>Delivery Method</th>
          <th colspan=2>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td class="vert-align"><%= link_to(item.seller, seller_store_path(item.seller)) %></td>
            <td class="vert-align"><%= item.section %></td>
            <td class="vert-align"><%= item.row %></td>
            <td class="vert-align"><%= item.seat %></td>
            <td class="vert-align delivery-meth"><%= item.delivery_method.capitalize %></td>
            <td class="vert-align"><%= item.dollar_amount %></td>
            <% unless current_user && (current_user.admin? || current_user.slug == item.user.slug) %>
            <td class="vert-align"><%= button_to "Add to cart", cart_path(item_id: item.id), class: 'btn btn-default' %></td>
            <% end %>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
