<h3>Your Past Orders</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Date cancelled</th>
        <th>Order(click for details)</th>
        <th>Amount</th>
      </tr>
    </thead>

    <tbody>
      <% if @orders.nil? || @orders.count == 0 %>
        <div>You have no prior orders</div>
      <% else %>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.formatted_created_at %></td>
          <td><%= order.updated_at %></td>
          <td><%= link_to order.id, order_path(order.id) %></td>
          <td><%= order.total_dollar_amount %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="summary row">
  <h3>Total Orders: <%= @orders.count %></h3>
</div>
