<h3>Order Summary</h3>
<div>Order placed at: <%= @order.formatted_created_at %></div></br>
<div><h5>Current status: <%= @order.status %></h5>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |order_item| %>
        <% item = Item.find(order_item.item_id) %>
      <tr>
        <td><%= link_to item.title, item_path(item.id) %></a></td>
        <td><%= item.dollar_amount %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.total_dollar_amount %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="summary row">
  <h3>Order Total: <%= @order.total_dollar_amount %></h3>
</div>
