<div class="cart-items">
<h2> Order Details </h2>
</div>
<div class="row event-page-ticket-listing event-page-inner">
  <table class="table table-hover event-tickets">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Section</th>
        <th>Row</th>
        <th>Seat</th>
        <th>Delivery</th>
        <th>Seller</th>
        <th colspan=2>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |order_item| %>
      <tr class="event-row">
        <td></td>
        <td>
          <div class="event-date-group">
            <p class="event-month"><%= order_item.item.event.month %></p>
            <p class="event-date"><%= order_item.item.event.day_of_month %></p>
            <p class="event-day"><%= order_item.item.event.day_of_week %></p>
          </div>
        </td>
        <td class="vert-align"><%= link_to(order_item.item.event.title, event_path(order_item.item.event)) %></td>
        <td class="vert-align"><%= order_item.item.event.description %></td>
        <td class="vert-align"><%= link_to(order_item.item.event.venue.name, venue_path(order_item.item.event.venue)) %></td>
        <td class="vert-align"><%= order_item.item.section %></td>
        <td class="vert-align"><%= order_item.item.row %></td>
        <td class="vert-align"><%= order_item.item.seat %></td>
        <td class="vert-align delivery-meth"><%= order_item.item.delivery_method %></td>
        <td class="vert-align"><%= link_to(order_item.item.seller, seller_store_path(order_item.item.seller)) %></td>
        <td class="vert-align"><%= order_item.item.dollar_amount %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td> <h3>Total:</h3> </td>
        <td> <h3 class="total_price"> <%="#{@order.total_price}" %></h3></td>
      </tr>
    </tfoot>
  </table>
</div>
