<% if @cart.empty? %>
  Your cart is empty!
<% else %>
  <h2>Your Cart</h2>
  <div class="row">
    <div class="col-lg-10">
      <% @cart.cart_items.each do |key, count| %>
      <% item = Item.find(key) %>
      <a name="<%= item.title %>"></a>
      <div class="category-box row" >
        <h3>
          <%= item.title%> <%= item.description%> <%= number_to_currency(item.unit_price/100) %> Quantity: <%= count %>
        </h3>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
