<h2>Menu</h2>

<div class="row">
  <div class="col-lg-2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <% @categories.each do |category| %>
          <li><a href="#<%=category.name %>"><%= category.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-lg-10">
    <% @categories.each do |category| %>
      <a name="<%= category.name %>"></a>
      <div class="category-box row" >
        <h3>
          <a id="<%= category.name %>" class="anchor"></a>
          <%= category.name %>
        </h3>
        <% category.items.each do |item| %>
          <div class="item-box col-md-3">
            <div class="item-box-inner">
              <h4><%= item.title %></h4>
              <br />
              <img src="https://lh5.googleusercontent.com/-V30f91Dtv8Q/T4l9Qm0FWwI/AAAAAAAAACc/U8MSi_WmlcQ/s150-c/photo.jpg" alt="pizza" /><br /><br />
              <span class="item-desc"><%= item.description %></span></br>
              <%= item.dollar_amount %></br>
              <%= button_to "Add to cart", cart_path(item_id: item.id) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
