<div class="row">
  <div class="col-lg-2">
    <div id="floater">
      <h2>Menu</h2>
      <div class="well sidebar-nav" >
        <ul class="nav nav-list">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, menu_path(anchor: category.name) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-10 category-items">
    <% @categories.each do |category| %>
      <a name="<%= category.name %>"></a>
      <div class="category-box row" >
        <h3>
          <a id="<%= category.name %>" class="anchor"></a>
          <%= category.name %>
        </h3>
        <% category.items.active.each do |item| %>
          <div class="item-box col-md-4">
            <div class="item-box-inner">
              <h4 class="item-title"><%= link_to item.title, item_path(item.id) %></h4>
              <br />
              <%= image_tag item.image.img.url(:menu_list), class: "menu_list_img" %>
              <br />
              <br />
              <div class="item-desc"><%= item.description %></div></br>
              <%= item.dollar_amount %></br>
              <%= button_to "Add to cart", cart_path(item_id: item.id) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
