<div class="category-box row">
<h3><%= @item.title %></h3>
<div class="item-box-inner">
  <h4><%= @item.title %></h4>
  <br />
  <%= filler_img %>
  <br />
  <br />
  <span class="item-desc"><%= @item.description %></span></br>
  <%= @item.dollar_amount %></br>
  <%= button_to "Add to cart", cart_path(item_id: @item.id) %>
</div>
