<div class="category-box row">
<h3><%= @item.title %></h3>
<div class="item-box-inner">
  <h4><%= @item.title %></h4>
  <br />
<%= image_tag @item.image.img.url(:item_list), class: "item_list_img" %>
  <br />
  <br />
  <span class="item-desc"><%= @item.description %></span></br>
  <%= @item.dollar_amount %></br>
  <% if @item.active? %>
    <%= button_to "Add to cart", cart_path(item_id: @item.id) %>
  <% end %>
</div>
