<div class="admin-user">
  <div class="col-md-0">
    <h3>Users</h3>
  </div>
</div>

<table class="table table-hover admin-user-listing-table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Display Name</th>
    <th></th><th></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.display_name %> </td>
        <td><%= link_to "Listings", admin_show_user_path(user), class: "btn btn-default" %></td>
        <td><%= link_to "Freeze", "#", class: "btn btn-default" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
