<div class="seller-page-title">
  <h1><%= @user.full_name %>'s Dashboard</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="event-page-inner user-dash-sidebar">
      <h3>User Profile</h3>
      <table>
        <tr>
          <td><strong>Full Name:</strong><br /><%= @user.full_name %></td>
        </tr>
        <tr>
          <td><strong>Display Name:</strong><br /><%= @user.display_name %></td>
        </tr>
        <tr>
          <td><strong>Store Address:</strong><br /><%= "#{request.protocol}#{request.host_with_port}/#{@user.slug}/store" %></td>
        </tr>
        <tr>
          <td><strong>Activated at:</strong><br /><%= @user.activated_at.strftime("%e %b %Y %H:%M:%S%p") %></td>
        </tr>
      </table>
      <%= link_to "Edit User Profile", edit_user_path(@user), class: "btn btn-sm btn-default user-edit-btn" %>
    </div>
  </div>
  <div class="col-md-8 event-page-ticket-listing user-dash-sidebar">
    <div class="event-page-inner">
      <h3>Current Listings</h3>
      <table class="table table-hover event-tickets">
        <% @user_events.each do |event, items| %>
        <thead>
          <tr id="seller-events">
            <th colspan=8 class="vert-align">
              <p id ="seller-event-title"><%= link_to(event.title, event_path(event)) %></p>
              <p id="seller-event-date"><%= event.date.strftime("%A, %B %d, %Y") %></p>
              <p id="seller-event-description"><%= event.description%></p>
            </th>
          </tr>
          <tr>
            <th>Category</th>
            <th>Section</th>
            <th>Row</th>
            <th>Seat</th>
            <th>Delivery Method</th>
            <th colspan=2>Price</th>
          </tr>
        </thead>
        <tbody>
            <% @items.each do |item| %>
              <tr>
                <td class="vert-align" id="seller-category">
                  <p><%= link_to(event.category.name, event_path(event)) %></p>
                </td>
                <td class="vert-align"><%= item.section %></td>
                <td class="vert-align"><%= item.row %></td>
                <td class="vert-align"><%= item.seat %></td>
                <td class="vert-align delivery-meth"><%= item.delivery_method %></td>
                <td class="vert-align"><%= item.dollar_amount %></td>
                <% unless current_user.admin? %>
                  <td class="vert-align"><%= button_to "Delete Listing", seller_item_path(@user.slug, item) , method: :delete, class: 'btn btn-default' %></td>
                  <td class="vert-align"><%= button_to "Edit Listing", edit_seller_item_path(@user.slug, item.id), method: :get, class: 'btn btn-default' %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
