<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "shared/nav_bar" %>
<div class="main-body container">

  <% flash.each do |name, message| %>
  <div class="<%= bootstrap_class_for(name) %>">
    <%= message%>
  </div>
  <% end %>

  <%= yield %>

  <%= render partial: "shared/footer" %>
</div>
</body>
</html>
