<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/nav_bar" %>

  <% flash.each do |name, message| %>
    <div class="<%= bootstrap_class_for(name) %>">
      <%= message%>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render partial: "shared/footer" %>
</body>
</html>
