<!DOCTYPE html>
<html>
<head>
  <title>HubStub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/nav_bar" %>

  <div id="errors">
    <% flash.each do |name, message| %>
      <div class="<%= bootstrap_class_for(name) %>">
        <%= message%>
      </div>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <%= render partial: "shared/footer" %>
</body>
</html>
